.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}

.wy-nav-side { overflow: inherit; } 

/* Code blocks */
pre > code {
    display: block;
    font-size: 12px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}
pre > code.hljs {
    background: transparent;
}
pre {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}

table {	background-color:#fff; width:100%;	max-width:700px; }
tr:nth-child(odd)>th { background-color:#f9f9f9; font-size: 12px; }
th {	text-align:left; 	padding:5px;line-height:1.4285714;vertical-align:top;border-top:1px solid #ddd; vertical-align:bottom;border-bottom:2px solid #ddd; border:1px solid #ddd }
td { padding:5px; border-top:2px solid #ddd; border:1px solid #ddd; font-size: 12px; }
